@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&family=Lato:wght@300;400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif
}

main{
    padding: 32px;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    padding: 80px 0;
}

.purple{
    color: #6415ff;
}

nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    width: 40px;
    height: 40px;
    padding-right: 4px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #6415ff;
}

.nav__link{
    color: #243e63;
    font-size: 14px;
    font-weight: bold;
    margin: 0 24px;
}

.nav__link:last-child{
    padding-left: 0;
}

ul{
    display: flex;
    
}

li{
    list-style-type: none;
}

.btn{
    background-color: #6415ff;
    color: white;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 999px;
    border: none;
}

.logo__button{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.company__name{
    color: #243e63;
    padding: 0 4px;
}

.company__name:hover{
    color: #6415ff;
    text-decoration: none;
}

/* 

header 

*/



/*

Features

*/

.features__title{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.6px;
}

.features__sub-title{
    text-align: center;
    font-weight: 900;
    color: #243e63;
    font-size: 48px;
}

.features__para{
    width: 100%;
    color: #7c8ba1;
    line-height: 1.625;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    max-width: 576px;
    margin-top: 16px;
    margin-bottom: 40px;
}

.services{
    display: flex;
    flex-wrap: wrap;
}

.service{
    display: flex;
    width: calc(100%/3);
    padding: 32px 24px;
    align-items: flex-start;
    justify-content: center;
}

.service__img--container{

}

.service__img--wrapper{
    padding: 20px;
    border: 1px solid #e5e7eb;
    display: flex;
    border-radius: 99999px;
}

.service__description{
    margin-top: 8px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

.service__title{
    color: #243e63;
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
}

.service__para{
    margin-top: 16px;
    font-size: 16px;
    color: #7c8ba1;
    text-align-last: left;
    line-height: 2;
    font-weight: 500;
}