@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&family=Lato:wght@300;400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif
}

main{
    padding: 32px;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.container{
    padding: 80px 0;
}

.purple{
    color: #6415ff;
}

nav{
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo{
    width: 40px;
    height: 40px;
    padding-right: 4px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #6415ff;
}

.nav__link{
    color: #243e63;
    font-size: 14px;
    font-weight: bold;
    margin: 0 24px;
}

.nav__link:last-child{
    padding-left: 0;
}

ul{
    display: flex;  
}

li{
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btn{
    background-color: #6415ff;
    color: white;
    padding: 12px 32px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 999px;
    border: none;
}

.logo__button{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.company__name{
    color: #243e63;
    padding: 0 4px;
}

.company__name:hover{
    color: #6415ff;
    text-decoration: none;
}

.title{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.6px;
}

.button__hover{
    cursor: pointer;
}

/* 

header 

*/

.header__row{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
}

.header__img{
    max-width: calc(0.6*1200px);
}

.header__title{
    font-size: 48px;
    --tw-text-opacity:var(1);
    color: rgba(26, 32, 44, var(--tw-text-opacity))
}

.header__description{
    width: calc(100%/2.5);
}

.header__para{
    font-size: 18px;
    line-height: 1.5;
    margin: 32px 0;
    color: #243e63;
    text-align-last: left;
}

.get-started{
    display: flex;
    align-items: center;
    position: relative;
}

.header__input{
    border: 2px solid #e5e7eb;
    border-radius: 9999px;
    padding: 20px 0 20px 32px;
    font-weight: 500;
    font-size: 16px;
    color: #243e63;
    width: 100%;
}
   .header__button{
    background-color: #6415ff;
    color: white;
    padding: 14px 0;
    font-size: 16px;
    font-weight: bold;
    border-radius: 999px;
    border: none;
    right: 0;
    margin: 8px 8px 8px 0;
    width: 160px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;


  }

.header__customers{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 70%;
}

.header__customers--title{
    font-size: 12px;
    color: #A0AEC0;
}

.header__companies{
    margin-top: 16px;
    width: 100%;
    opacity: 0.5;
}

/*

Features

*/

.features__row{
    display: flex;
    flex-direction: column;
}

.features__title{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.6px;
}

.features__sub-title{
    text-align: center;
    font-weight: 900;
    color: #243e63;
    font-size: 48px;
}

.features__para{
    width: 100%;
    color: #7c8ba1;
    line-height: 1.625;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    max-width: 576px;
    margin-top: 16px;
    margin-bottom: 40px;
}

.services{
    display: flex;
    flex-wrap: wrap;
}

.service{
    display: flex;
    width: calc(100%/3);
    padding: 32px 24px;
    align-items: flex-start;
    justify-content: center;
}


.service__img--wrapper{
    padding: 20px;
    border: 1px solid #e5e7eb;
    display: flex;
    border-radius: 99999px;
}

.service__description{
    margin-top: 8px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

.service__title{
    color: #243e63;
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
}

.service__para{
    margin-top: 16px;
    font-size: 16px;
    color: #7c8ba1;
    text-align-last: left;
    line-height: 2;
    font-weight: 500;
}

/*  
QUALITY 
*/

.quality__row{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
}

.quality__img{
    max-width: calc(0.5*1200px);
}


.quality__description{
    width: calc(100%/2);
}

.quality__subtitle{
    font-size: 48px;
    color: #243e63;
    font-weight: 900;
    margin-top: 16px;
}

.quality__para{
    font-size: 18px;
    line-height: 29.25px;
    text-align:left;
    color: #7c8ba1;
    margin-top: 16px;
    margin-bottom: 40px;
}

/* 

Steps

*/

.steps__row{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
}

.steps__img{
    max-width: calc(0.5*1200px);
}


.steps__description{
    width: calc(100%/2);
    display: flex;
    flex-direction: column;
    margin-left: 64px;
}

.steps__subtitle{
    font-size: 48px;
    color: #243e63;
    font-weight: 900;
    margin-top: 16px;
    letter-spacing: 1.2px;
    line-height: 60px;
}

.steps__list{
    display: flex;
    flex-direction: column;
}

.steps__step{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 32px;
}

.steps__step--number{
    font-size: 36px;
    color: #cbd5e0;
    font-weight: 600;
    line-height: 36px;
}

.steps__step--description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 24px;
}

.steps__step--title{
    font-size: 20px;
    font-weight: 600;
    color: #243e63;
    text-align: left;
}

.steps__step--para{
    font-size: 14px;
    color: #718096;
    text-align: left;
    line-height: 28px;
    max-width: 320px;
    margin-top: 12px;
}


/*

VALUES

*/

.values__row{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
}

.values__img{
    max-width: calc(0.5*1200px);
}

.values__description{
    width: calc(100%/2);
}

.values__subtitle{
    font-size: 48px;
    line-height: 60px;
    text-align: left;
    color: #243e63;
    font-weight: 900;
    margin-top: 16px;
}

.values__para{
    font-size: 18px;
    line-height: 29.25px;
    text-align:left;
    color: #7c8ba1;
    letter-spacing: normal;
    margin-top: 32px;
    font-weight: 500;
}

.values__promise--wrapper{
    display: flex;
}

.values__promise{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 32px 32px 0 0;
}

.values__label{
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: #243e63;
    letter-spacing: normal;
    font-weight: 700;
    margin-left: 12px;
}

.values__promise--description{
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    letter-spacing: normal;
    color: #718096;
    margin-top: 16px;
}

.values__button{
    margin-top: 48px;
    transition: 300ms;
}

/*

PRICING

*/

.price__row{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}



.price__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.price__subheader{
    font-size: 48px;
    line-height: 72px;
    color: #243e63;
    font-weight: 900;
    margin-top: 16px;
}

.price__para{
    font-size: 18px;
    line-height: 29.25px;
    text-align:center;
    color: #7c8ba1;
    letter-spacing: normal;
    width: 100%;
    max-width: 576px;
    margin-top: 16px;
    font-weight: 500;
}

.price_cards--wrapper{
    display: flex;
    width: 100%;
}

.price__card1{
    margin-top: 64px;
    margin-right: 32px;
    width: 100%;
    max-width: 384px;
    border: 1px solid #e5e7eb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


.price__card--top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    border-bottom: 2px solid #e5e7eb;
}

.price__card--middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    border-bottom: 2px solid #e5e7eb;
}

.price__card--bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;
}


.price__card2{
    margin-top: 64px;
    margin-right: 32px;
    width: 100%;
    max-width: 384px;
    border: 1px solid #e5e7eb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.price__card3{
    margin-top: 64px;
    margin-right: 32px;
    width: 100%;
    max-width: 384px;
    border: 1px solid #e5e7eb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.price__card2--top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    border-bottom: 2px solid #e5e7eb;
}

.price__card--name{
    font-size: 20px;
    color: #1a202c;
    line-height: 32.5px;
    font-weight: 700;
    text-transform: uppercase;
}

.price__card--price{
    font-size: 48px;
    color: #1a202c;
    line-height: 78px;
    margin: 4px 0;
    font-weight: 700;
}

.price__card--monthly{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: #A0AEC0;
    font-weight: 700;
    text-transform: uppercase;
}

.main--price__card--feature{
    font-size: 20px;
    color: #1a202c;
    line-height: 32px;
    letter-spacing: 0.5px;
    font-weight: 700;
}

.price__card--feature{
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #718096;
    font-weight: 500;
}